---
layout: base
---
<div class="bg-primary-dark position-relative overflow-hidden">
  <div class="container content-space-2">
    <div class="row justify-content-center align-items-lg-center">
      <div class="col-md-8 col-lg-6 mb-7 mb-lg-0">
        <!-- Heading -->
        <div class="pe-lg-3 mb-7">
          <h1 class="display-3 text-white mb-3 mb-md-5">Solving problems for every</h1>
          <p class="lead text-white-70">Built on standard web technology, teams use Space to build beautiful
            cross-platform hybrid apps in a fraction of the time.</p>
        </div>
        <!-- End Heading -->
        <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <!-- Info Block -->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <span class="svg-icon text-white">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z"
                      fill="#035A4B"></path>
                    <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z"
                      fill="#035A4B"></path>
                  </svg>

                </span>
              </div>

              <div class="flex-grow-1 ms-4">
                <h6 class="text-white mb-0">24 hours</h6>
                <p class="text-white-70">Response time</p>
              </div>
            </div>
            <!-- End Info Block -->
          </div>
          <!-- End Col -->

          <div class="col-sm-6">
            <!-- Info Block -->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <span class="svg-icon text-white">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3"
                      d="M4.875 20.75C4.63542 20.75 4.39583 20.6542 4.20417 20.4625L2.2875 18.5458C1.90417 18.1625 1.90417 17.5875 2.2875 17.2042C2.67083 16.8208 3.29375 16.8208 3.62917 17.2042L4.875 18.45L8.0375 15.2875C8.42083 14.9042 8.99583 14.9042 9.37917 15.2875C9.7625 15.6708 9.7625 16.2458 9.37917 16.6292L5.54583 20.4625C5.35417 20.6542 5.11458 20.75 4.875 20.75Z"
                      fill="#035A4B"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M5 3C3.34315 3 2 4.34315 2 6V11.865C3.04486 11.3127 4.23591 11 5.5 11C9.47412 11 12.7263 14.091 12.9836 18H18.0249L20.3178 20.2929C20.9478 20.9229 22.0249 20.4767 22.0249 19.5858V15L22 15.0098L22 15V6C22 4.34315 20.6569 3 19 3H5ZM6 7C5.44772 7 5 7.44772 5 8C5 8.55228 5.44771 9 6 9H15C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7H6Z"
                      fill="#035A4B"></path>
                  </svg>

                </span>
              </div>

              <div class="flex-grow-1 ms-4">
                <h6 class="text-white mb-0">92%</h6>
                <p class="text-white-70">Satisfaction rate</p>
              </div>
            </div>
            <!-- End Info Block -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->

      <div class="col-md-8 col-lg-6">

      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="border-top border-white-10 my-10"></div>

    <div class="w-lg-65 text-center mx-lg-auto mb-7">
      <h3>All about Space</h3>
      <p class="fs-6">Explore all Space guides and resources.</p>
    </div>

    <div class="row mb-5 mb-sm-5">
      {% for post in site.posts %}
      <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
        <a class="card card-lg card-transition bg-primary-dark" href="{{ post.url }}" style="min-height: 22rem;">
          <div class="card-body">
            <ul class="meta list-inline mb-3">
              <li class="list-inline-item badge bg-soft-light">
                {% if post.lang == 'bn' %}
                  {% assign date_parts = post.date | date: "%-d/%-m/%Y" | split: "/" %}
                    {% include plugins/bengali-date.html %}
                      {{ day }} {{ month }} {{ year }}
                {% else %}
                  {{ post.date | date: "%B %d, %Y" }}
                {% endif %}
              </li>
              <li class="list-inline-item badge bg-soft-light">{{ post.categories }}</li>
            </ul>
            <h4 class="card-title text-white mb-5">{{ post.title | escape }}</h4>
            {%- if site.show_excerpts -%}
            <span class="card-link link-light">{{ post.content | strip_html | truncatewords: 50 }}</span>
            {%- endif -%}
           <div class="position-absolute bottom-0 start-0 end-0">
              <img class="card-img" src="https://htmlstream.com/space/assets/svg/components/shape-4-soft-light.svg" alt="Image Description">
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
