---
layout: base
---
<style>
  .fontpreview {
    border: 0;
    border-bottom: 0px solid rgba(0, 0, 0, 0.1) !important;
  }

  #bc-glyph-preview button {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #313236;
    font: inherit;
    font-size: 26px;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    outline: 1px solid #dadce0;
  }

  #bc-glyph-preview .glyph-grid-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 1px;
    padding: 0 1px 1px;
  }
  #bc-font-details .td {
  padding: 1rem;
  border: 1px solid #fff;
  }
  #bc-font-details .td:nth-of-type(odd) {
    background: #005c45;
    color: white;
  }
  #bc-font-details .td:nth-of-type(even) {
  background: #e1e1e154;
  font-weight: bold;
  }
</style>
<section class="bg-primary-dark">
  <div class="container-fluid text-center p-2">
    <div class="container d-flex justify-content-center">
      <h1 class="text-white">{{ page.font_en }} </h1>
      <ul class="navbar-nav ms-auto fw-bold d-none d-lg-flex justify-content-center align-items-center">
        <li class="nav-item"><a class="nav-link text-white" href="#bc-glyph-preview">প্রাকদর্শন</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#bc-font-details">ডাউনলোড</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="bc-font-header">
  <div class="container d-flex justify-content-center align-items-center p-5">
    <div class="col-12 col-lg-3 col-xl-3 d-md-block h-100">{{ content }}</div>
    <div class="col d-none d-sm-none d-md-block d-flex justify-content-center text-center h-100">
      <h4 class="bc-font-dynamic fw-bolder" style="font-size: 76px;">{{ page.font_bn }}</h4>
      <h6 class="p-5">(শিরোনাম প্রাকদর্শন)</h6>
    </div>
  </div>
</section>

<section class="pt-5 bg-white" id="bc-font-styles">
  <div class="container rounded-lg py-3 my-3 ">
    <h3 class="m-3 text-start fw-bold">Styles</h3>
    <div class="container-fluid">
      <div class="row pt-3">
        <div class="col-lg-14  mb-4">
          <section class="text-lg-left">
            <div class="row mb-4">
              <div class="col-md-12">
                <div class="row  input-group mb-0  my-0 font-input">
                  <div class="col-9">
                    <input type="text" class="form-control font-text-preview form-input" placeholder="এখানে লিখুন...">
                  </div>
                  <div class="col-3 p-2 ">
                    <div class="range">
                      <input type="range" class="form-range font-text-size" min="11" max="70" value="26" step="0.2">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row font-prev-dedicated font-input">
                  <h5 class="grey-text">Normal</h5>
                  <div class="form-group pb-5 ">
                    <input class="fontpreview w-100 h-100 bc-font-dynamic"
                      value="আমার সোনার বাংলা আমি তোমায় ভালোবাসি, চিরদিন তোমার আকাশ তোমার বাতাস.."
                      style="font-size: 46.2px;">
                  </div>
                  <h5 class="grey-text ">Bold (Generated)</h5>
                  <div class="form-group pb-5">
                    <input class="fontpreview w-100 h-100 fw-bold bc-font-dynamic"
                      value="আমার সোনার বাংলা আমি তোমায় ভালোবাসি, চিরদিন তোমার আকাশ তোমার বাতাস.."
                      style="font-size: 46.2px;">
                  </div>
                  <h5 class="grey-text">Italic (Generated)</h5>
                  <div class="form-group pb-5 ">
                    <input class="fontpreview w-100 h-100 font-italic bc-font-dynamic"
                      value="আমার সোনার বাংলা আমি তোমায় ভালোবাসি, চিরদিন তোমার আকাশ তোমার বাতাস.."
                      style="font-size: 46.2px;">
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="bc-glyph-preview" class="bc-font-dynamic">
  <div class="container">
    <h3 class="m-3 text-start fw-bold">Glyph Preview</h3>
    <div class="row justify-content-center align-items-center p-5">
      <div class="col-sm-12 col-md-8">
        <div class="glyph-grid-list">
          <button role="option">০</button>
          <button role="option">১</button>
          <button role="option">২</button>
          <button role="option">৩</button>
          <button role="option">৪</button>
          <button role="option">৫</button>
          <button role="option">৬</button>
          <button role="option">৭</button>
          <button role="option">৮</button>
          <button role="option">৯</button>
          <button role="option">অ</button>
          <button role="option">আ</button>
          <button role="option">ই</button>
          <button role="option">ঈ</button>
          <button role="option">উ</button>
          <button role="option">ঊ</button>
          <button role="option">ঋ</button>
          <button role="option">এ</button>
          <button role="option">ঐ</button>
          <button role="option">ও</button>
          <button role="option">ঔ</button>
          <button role="option">ক</button>
          <button role="option">খ</button>
          <button role="option">গ</button>
          <button role="option">ঘ</button>
          <button role="option">ঙ</button>
          <button role="option">চ</button>
          <button role="option">ছ</button>
          <button role="option">জ</button>
          <button role="option">ঝ</button>
          <button role="option">ঞ</button>
          <button role="option">ট</button>
          <button role="option">ঠ</button>
          <button role="option">ড</button>
          <button role="option">ঢ</button>
          <button role="option">ণ</button>
          <button role="option">ত</button>
          <button role="option">থ</button>
          <button role="option">দ</button>
          <button role="option">ধ</button>
          <button role="option">ন</button>
          <button role="option">প</button>
          <button role="option">ফ</button>
          <button role="option">ব</button>
          <button role="option">ৱ</button>
          <button role="option">ভ</button>
          <button role="option">ম</button>
          <button role="option">য</button>
          <button role="option">র</button>
          <button role="option">ৰ</button>
          <button role="option">ল</button>
          <button role="option">শ</button>
          <button role="option">ষ</button>
          <button role="option">স</button>
          <button role="option">হ</button>
          <button role="option">ড়</button>
          <button role="option">ঢ়</button>
          <button role="option">য়</button>
          <button role="option">ৎ</button>
          <button role="option">ং</button>
          <button role="option">ঃ</button>
          <button role="option">ঁ</button>
          <button role="option">ঌ</button>
          <button role="option">়</button>
          <button role="option">ঽ</button>
          <button role="option">ৄ</button>
          <button role="option">ৗ</button>
          <button role="option">ৠ</button>
          <button role="option">ৡ</button>
          <button role="option">ৢ</button>
          <button role="option">ৣ</button>
          <button role="option">া</button>
          <button role="option">ি</button>
          <button role="option">ী</button>
          <button role="option">ু</button>
          <button role="option">ূ</button>
          <button role="option">ৃ</button>
          <button role="option">ে</button>
          <button role="option">ৈ</button>
          <button role="option">ো</button>
          <button role="option">ৌ</button>
          <button role="option">৲</button>
          <button role="option">৴</button>
          <button role="option">৵</button>
          <button role="option">৶</button>
          <button role="option">৷</button>
          <button role="option">৸</button>
          <button role="option">৹</button>
          <button role="option">৺</button>
          <button role="option">।</button>
          <button role="option">৳</button>
          <button role="option">্য</button>
          <button role="option">্র</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 d-xl-block bc-font-preview-extended d-flex justify-content-center text-center">
        <bcf style="font-size: 10rem;">ঞঁ</bcf>
      </div>
    </div>
  </div>
</section>

<section class="container mb-5 pb-5" id="bc-font-details">
  <h3 class="m-3 fw-bold">Details</h3>
  <div class="row px-md-5">
    <div class="col-sm-12 col-md-6">
      <span class="d-flex">
        <span class="col-3 td">Author</span>
        <span class="col-9 td">Codepotro</span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Idea</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Design</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Publisher</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Licence</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Price</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Free/Premium</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Download/Buy Link</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Webfont</span>
        <span class="col-9 td"></span>
      </span>

      <span class="d-flex">
        <span class="col-3 td">Version</span>
        <span class="col-9 td">0.990</span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Languages</span>
        <span class="col-9 td"></span>
      </span>
    </div>
    <div class="col-sm-12 col-md-6">
      <span class="d-flex">
        <span class="col-3 td">Encodings</span>
        <span class="col-9 td">Ansi V1/Ansiv2/Unicode/Both/Others</span>
      </span><span class="d-flex">
        <span class="col-3 td">Glyphs</span>
        <span class="col-9 td">(45/67)</span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Ipa Support</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Omr Support</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Listing Support</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Encoding</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Styles</span>
        <span class="col-9 td">Bold/Italic</span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Type</span>
        <span class="col-9 td">Serif, Sans Serif, Calligraphy, Typewrite, Artistic, Old Classical</span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">Data-verified By</span>
        <span class="col-9 td"></span>
      </span>
      <span class="d-flex">
        <span class="col-3 td">UID</span>
        <span class="col-9 td">BN-00-12-13054</span>
      </span>
    </div>
  </div>

</section>
<script>
  jQuery(function ($) {
    $('#bc-glyph-preview button').mouseover(function () {
      $('.bc-font-preview-extended').find('bcf').text($(this).text());
    });
  });
</script>
<script>
  jQuery(function ($) {
    $('.font-prev-dedicated').find('input').css('font-size', "30px");
    var defText = "আমার সোনার বাংলা আমি তোমায় ভালোবাসি";

    $('.font-prev-dedicated').each(function () {
      $(this).find('input').attr('value', defText);
    });

    $('.font-text-preview').on('input', function () {
      defText = $(this).val();
      $('.font-prev-dedicated').each(function () {
        var ftype = $(this).find('input');
        $(this).find('input').attr('value', defText);
      });
    });


    $('.font-text-size').on('input', function () {
      var size = $(this).val() + "px";
      $('.font-prev-dedicated').find('input').css('font-size', size);
    });

  });
</script>
