---
layout: base
---
<div class="navbar navbar-expand-lg flex-wrap cp-fixed-nav-pad top-nav-collapse cp-uni-light shadow-none">
    <div class="container-fluid text-center p-2">
        <div class="container d-flex justify-content-center">
            <h1 class="cp-glyph-heading-font fw-light wow fadeInLeft">{{ page.font.en }} </h1>
            <ul class="navbar-nav ms-auto fw-bold d-none d-lg-flex justify-content-center align-items-center">
                <li class="nav-item "><a class="nav-link  waves-effect waves-light" href="#cp-char-preview">প্রাকদর্শন</a></li>
                <li class="nav-item "><a class="nav-link  waves-effect waves-light" href="#font-details">ডাউনলোড</a></li>
            </ul>
        </div>
    </div>
</div>

<section id="cp-text-set-preview">
    <div class="container d-flex justify-content-center align-items-center p-5">
        <div class="col-12  col-lg-3 col-xl-3 d-md-block h-100">{{ content }}</div>
        <div class="col d-none d-sm-none d-md-block cp-font-preview-extended d-flex justify-content-center text-center h-100">
            <h4 class="cp-glyph-heading-font font-potro-sans-bangla fw-bolder">{{ page.font.bn }}</h4>
            <h6 class="p-5">(শিরোনাম প্রাকদর্শন)</h6>
        </div>
    </div>
</section>

<section class="pt-5 bg-white" id="font-styles">
    <div class="container bg-white  rounded-lg py-3 my-3 ">
        <h2 class="black-text-2 m-3 text-start fw-bold font-potro-sans-bangla">Styles</h2>
        <div class="container-fluid">
            <div class="row pt-3">
                <div class="col-lg-14  mb-4">
                    <section class="text-lg-left">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <div class="row  input-group mb-0  my-0 font-input">
                                    <div class="col-9 p-2 px-5 ">
                                        <input type="text" class="cp-font-text nav-like font-text-preview rounded-holder p-3 w-100" placeholder="এখানে লিখুন">
                                    </div>
                                    <div class="col-3 p-2 ">
                                        <div class="range">
                                            <input type="range" class="form-range font-text-size" min="11" max="70" value="26" step="0.2">
                                            </div>
                                        </div>
                                    </div>
                                <hr>
                                <div class="row font-prev-dedicated font-input">
                                    <h5 class="grey-text">Normal</h5>
                                    <div class="form-group pb-5 ">
                                        <input id="fontpreview" class="w-100 h-100" value="আমার সোনার বাংলা আমি তোমায় ভালোবাসি" style="font-size: 46.2px;">
                                    </div>
                                    <h5 class="grey-text ">Bold (Generated)</h5>
                                    <div class="form-group pb-5">
                                        <input id="fontpreview" class="w-100 h-100 fw-bold" value="আমার সোনার বাংলা আমি তোমায় ভালোবাসি" style="font-size: 46.2px;">
                                    </div>
                                    <h5 class="grey-text">Italic (Generated)</h5>
                                    <div class="form-group pb-5 ">
                                        <input id="fontpreview" class="w-100 h-100 font-italic" value="আমার সোনার বাংলা আমি তোমায় ভালোবাসি" style="font-size: 46.2px;">
                                    </div>
                                    </div>
                            </div>
                            </div>
                            </section>
                            </div>
                        </div>
                        </div>
                </div>
</section>

<section id="cp-char-preview">


                <div class="container">
                    <h2 class="black-text-2 m-3 text-start fw-bold font-potro-sans-bangla">Glyph Preview</h2>
                    <div class=" d-flex justify-content-center align-items-center p-5">
                        <div class="col font-potro-sans-bangla">
                            <div role="listbox" class="glyph-grid-list">
                                <button role="option" class="cp-preview-grid-list-char"><span>০</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>১</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>২</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>৩</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>৪</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>৫</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>৬</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>৭</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>৮</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>৯</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>অ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>আ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ই</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঈ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>উ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঊ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঋ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>এ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঐ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ও</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঔ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ক</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>খ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>গ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঘ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঙ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>চ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ছ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>জ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঝ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঞ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ট</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঠ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ড</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঢ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ণ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ত</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>থ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>দ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ধ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ন</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>প</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ফ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ব</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ভ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ম</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>য</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>র</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ল</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>শ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ষ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>স</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>হ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ড়</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঢ়</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>য়</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ৎ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ং</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঃ</span></button>
                                <button role="option" class="cp-preview-grid-list-char"><span>ঁ</span></button>
                            </div>
                        </div>
                        <div class="col d-none  d-xl-block cp-font-preview-extended d-flex justify-content-center  text-center">
                            <cpgp class="font-potro-sans-bangla cp-glyph-prev-font">ঁ</cpgp></div>
                    </div>
                </div>
            </section><section class="pt-5 py-5 bg-white" id="font-details">
                <div class="container bg-white  rounded-lg py-3 my-3 ">


                    <h2 class="black-text-2 m-3 text-start fw-bold font-potro-sans-bangla">About Font and Designer</h2>


                    <div class="container-fluid">

                        <div class="row pt-3">


                            <div class="col-12  col-lg-4 col-xl-4 d-md-block  mb-4">


                                <section class="pb-5 text-lg-left">


                                    <div class="row mx-4">

                                        <h4 class="fw-normal">Author: Codepotro
                                        </h4>
                                        <h6 class="fw-normal">Styles: Regular
                                        </h6>
                                        <h6 class="fw-normal">Version: 0.990
                                        </h6>
                                        <h6 class="fw-normal">Encodings: Unicode
                                        </h6>
                                        <h6 class="fw-normal">Downloaded: 6078 times 
                                        </h6>
                                    </div>



                            </section></div>
                            <div class="col-12  col-lg-8 col-xl-8 d-md-block h-100">
                                <div itemprop="description">
                                    <p>
                                        Potro Sans Bangla is a FREE Bangla font designed by us.
                                        It comes with 1 style.
                                        You can download this Bangla font for FREE from our website.
                                        Please note that you can't upload or host Potro Sans Bangla on your website.
                                    </p>
                                </div>
                                <hr>
                                <a class="btn btn-blue-mod btn-rounded cp-uni-light cp-card-border-light-1 text-muted fw-bold btn-primary-soft waves-effect waves-light" id="dhref" href="/download-file?cp-originals-font-id=477" data-wow-delay="0.3s"> Download</a>


                            </div>


                        </div>
            </div>
                </div>
            </section>
